// Colors
$primary-color: #c9770f;
$text-color: #9fa1a9;
$input-color: #77787c;
$background-color: #101114;
$background-color-focus: #0c0c0e;
$wrapper-color: #17181c;
$foreground-color: #202126;
$set-color: rgb(107, 208, 81);
$satanic-color: #e03232;
$angelic-color: #f9f0c0;