.dropdown-menu-search {
    width: 100%;

    .search-users {
        display: flex;
        padding: 0.5em 1em;

        img {
            width: 33px;
            height: 33px;
            border-radius: 0.25rem;
            margin-right: 0.75em;
        }

        .username {
            font-weight: bold;
        }

        .user-data {
            width: 100%;

            .user-text {
                display: flex;
                justify-content: space-between;

                .badge {
                    line-height: 1.5;
                }
            }
        }
    }
}
