@import "../../../includes";
@import "../../../colors";

.item-view-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1em 0;

    > .gear-container {
        border-radius: 0.25rem 0 0 0.25rem;     
        border-radius: 50%;
        transition: background-color 0.2s ease, box-shadow 0.4s ease;
        background: $background-color;
        height: 10em;
        width: 10em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -5em;

        &:hover {
            background-color: $background-color-focus;
        }

        &.gear-satanic {
            box-shadow: 0 5px 10px $satanic-color;
            border: 2px solid $satanic-color;
            &:hover {
                box-shadow: 0 5px 15px $satanic-color;
            }
        }

        &.gear-set {
            box-shadow: 0 5px 10px $set-color;
            border: 2px solid $set-color;
            &:hover {
                box-shadow: 0 5px 15px $set-color;
            }
        }

        &.gear-angelic {
            box-shadow: 0 5px 10px $angelic-color;
            border: 2px solid $angelic-color;
            &:hover {
                box-shadow: 0 5px 15px $angelic-color;
            }
        }

        >  .equipment-image {
            width: 7rem;
            padding: 1rem;
            border: none;

            > div {
                background-repeat: no-repeat;
                height: 6rem;
            }
        }
    }

    .item-view-information {
        flex-basis: 100%;
        text-align: center;
        margin-top: 2em;

        > h4 {
            line-height: 2;
            cursor: pointer;
            transition: color 0.2s ease;
        }

        .statistics {
            list-style-type: none;
            margin: 2em 0 -1em 0;
            padding: 0;
            display: flex;
            justify-content: center;
            background-color: $background-color;

            > li {
                padding: 1em 8em;
                text-align: left;

                .count {
                    font-weight: bold;
                    color: #FFF;
                    font-size: 1.2em;
                }

                &.price-history {
                    > a {
                        margin: -1em 0;
                        padding: 1em;
                        display: flex;
                        text-decoration: none;
                        transition: background-color 0.2s ease, color 0.2s ease;

                        &:hover {
                            background-color: darken($background-color-focus, 1%);
                            color: #FFF;
                        }

                        .feather {
                            height: 43px;
                            margin-left: 2em;
                        }

                        .item-price {
                            margin-left: auto;
                            position: relative;

                            &:before {
                                content: "";
                                background-image: url("/images/icons/rubies.png");
                                width: 15px;
                                height: 13px;
                                display: inline-block;
                                background-repeat: no-repeat;
                                background-size: cover;
                                margin: 2px 5px -2px 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

.item-view-header-small {
    .gear-container {
        .equipment-image {
            width: 3rem;
            padding: 0;

            > div {
                height:3rem;
                background-size: 100%;
            }
        }
    }
}

.item-view-details {
    background-color: $background-color-focus;
    border-bottom: 1px solid $background-color-focus;
    position: relative;
    border-top: 5px solid $background-color;

    .item-stats {
        margin: 0;
        padding: 0;
        list-style-type: none;
        margin-top: 1em;
        display: inline-grid;
        grid-template-columns: 50% 50%;
        width: 100%;
    }
}

.item-view-offers {
    .header {
        font-weight: bold;
        color: #FFF;
        background-color: $foreground-color;
        border: none;
        padding: 1em;

        .row {
            padding: 1em;
            margin: -1em;
        }

        &:hover {
            background-color: $foreground-color;
        }

        .col {
            padding: 1px 0;
            text-align: center;
        }

        .col-sm-1:first-child {
            max-width: 4em;
        }

        .seller {
            text-align: left;
        }
    }

    .list-group-item:not(.header) {
        background-color: #26272c;
        padding: 1em;
        border: none;

        &:nth-child(2) {
            border-top: none !important;
        }

        border-top: 1px solid rgba(255, 255, 255, 0.02);

        &:last-child {
            .collapse {
                border-radius: 0 0 0.25rem 0.25rem;
            }
        }

        .collapse {
            background-color: $foreground-color;
            padding: 1em;
            margin: 1em -1em -1em;

            .row {
                &:hover {
                    background-color: $foreground-color;
                }

                cursor: auto;

                .col {
                    text-align: left;
                    margin-right: 4em;

                    &:last-child {
                        margin-right: 0;
                    }
                }

                .info-list {
                    margin-bottom: -1.5em;

                    .info-list-title {
                        color: #FFF;
                        display: block;
                        margin-bottom: 1em;
                        text-transform: uppercase;
                    }

                    > .row {
                        margin-bottom: 1em;
                        border-bottom: 1px solid rgb(38, 39, 44);
                        font-size: 0.9em;

                        &:last-child {
                            border: none;
                        }

                        .info-list-item-caption {
                            color: #FFF;
                        }

                        .col {
                            .rune-list {
                                list-style-type: none;
                                margin: 0;
                                padding: 0;
                                display: flex;
                                flex-wrap: wrap;

                                li {
                                    margin-right: 0.5em;
                                    margin-bottom: 0.5em;

                                    &:last-child {
                                        margin: 0;
                                    }

                                    .badge {
                                        padding: 0.5em;
                                        font-size: 0.8em;
                                    }

                                    img {
                                        width: 10px;
                                        margin-right: 5px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .row {
            cursor: pointer;
            transition: background-color 0.2s ease;
            padding: 1em;
            margin: -1em;

            &:last-child {
                border-radius: 0 0 0.25rem 0.25rem;
            }

            &:hover {
                background-color: rgba(255, 255, 255, 0.01);
            }

            .col {
                padding: 1px 0;
                text-align: center;
            }

            .avatar {
                max-width: 4em;
                padding: 0;

                img {
                    height: 34px;
                    border-radius: 0.25rem;
                    border: 2px skyblue solid;
                    margin: -5px;

                    &.in-game {
                        border-color: #92de92;
                    }

                    &.offline {
                        border-color: silver;
                    }
                }
            }

            .seller {
                text-align: left;
                a {
                    font-weight: bold;
                    color: #FFF;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .item-price {
                margin-left: auto;
                position: relative;
                color: $primary-color;
                font-weight: bold;

                &:before {
                    content: "";
                    background-image: url("/images/icons/rubies.png");
                    width: 15px;
                    height: 13px;
                    display: inline-block;
                    background-repeat: no-repeat;
                    background-size: cover;
                    margin: 2px 5px -2px 0;
                }
            }

            .region {
                img {
                    height: 22px;
                    border-radius: 0.25rem;
                    display: inherit;
                }
            }

            .expand {
                padding-top: 4px;
                text-align: right;
            }
        }
    }
}